header,
main,
footer {
    padding-left: 25px;
    padding-right: 25px;
}
    
#hebergements-populaires {
    flex-direction: column;
    }

#hebergements, #populaires {
    width: 93%;
    margin-top: 20px;
}

h3 {
    font-size: 14px;
}

.populaires {
    margin-top: 15px;
}

#cartes-activites {
    flex-wrap: wrap;
}

.carte-activites-xl {
    width: 48%;
}
.bloc-activite {
    width: 48%;
}