@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

h1 {
    font-family: 'Raleway';
}

body {
    padding-left: 35px;
    padding-right: 35px;
}

p {
    font-family: 'Raleway';
}

a {
    color: black;
    text-decoration: none;

}

a:link {
    color: black;
}

a:hover {
    color: #0065FC;
    cursor: pointer;
}

.nav {
    font-family: 'Raleway';
    display: flex;
    justify-content: flex-end;
    margin-top: 0%;

}

.nav>a {
    padding: 25%;
}

.nav>a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
    cursor: pointer;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    padding-top: 0%;
}

.logo-container {
    margin: 0%;
    width: fit-content;

}

#logo {
    margin-top: 0%;
    width: 100%;

}

#searchbar {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #F2F2F2;
    border: 2px white solid;
    border-radius: 10px;
}

#searchbar>i {
    padding: 12px 20px;

}

input[type=search] {
    padding: 12px 20px;
    border: #F2F2F2;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
}

input[type=submit] {
    padding: 12px 20px;
    background: #0065FC;
    border: #F2F2F2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: bold;
    color: #F2F2F2;
}

#filtres {
    display: flex;
    margin-top: 30px;
    
}

.icons {
    margin-right: 40px;
    display: flex;
    width: fit-content;
    height: 34px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #0065FC;
    border: 2px #F2F2F2 solid;
}

.icons:hover {
    background-color: #DEEBFF;

}

.icons:hover>button {
color: #0065FC ;
background-color: #DEEBFF;
}

.icons:hover>i {
    border: 2px black solid;
}

.icons>i {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2px;
}

.icons>button {
    background-color: white;
    border: none;
    margin-right: 3px;
    font-weight: bold;
}



#icon-info {
    display: flex;
    font-family: 'Raleway';
}

#icon-info>i {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-color: #0065FC;
    color: white;
    font-size: 25px;
    align-self: center;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hebergements {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border: 2px white solid;
    border-radius: 20px;
    justify-content: space-around;
    align-items: space-around;
    padding: 15px;
}

#hebergements-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 100%;
    height: fit-content;
    font-family: 'Raleway';
}

.logements {

    width: 230px;
    height: 200px;
    background-color: white;
    padding: 3px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}

.images-logements {
    width: 230px;
    height: 110px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-logements {
    width: 100%;
    height: 85px;
}

.body-logements>h3 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: medium;
    font-family: 'Raleway';
}

.body-logements>p {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: small;
    font-family: 'Raleway';
}

.notation-etoile {
    margin-left: 10px;
    justify-content: flex-start;
    color: #0065FC;
}

#afficher-plus {
    width: 100%;
    justify-content: flex-start;
}
span {
    font-weight: bold;
}

#populaires {
    width: 30%;
    height: fit-content;
    background-color: #F2F2F2;
    border: 2px white solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.populaires-title {
    display: flex;
    font-family: 'Raleway';
    width: 100%;
   
}


.populaires > a {
    width: 370px;
    height: 140px;
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
}


.texte-populaires {
    width: 55%;
    display: flex;
    flex-direction: column;

}

.texte-populaires>h3 {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 2px;
    font-size: medium;
    font-family: 'Raleway';
}

.texte-populaires>p {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: small;
    font-family: 'Raleway';
}

.notation-etoile-populaires {
    margin-top: 25px;
    margin-left: 15px;
    color: #0065FC;
    
}

.photos-populaires {
    width: 35%;
    height: 100%;
}

.images-populaires {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
