* {
    margin: 0px;
}

body {
    font-family: 'Raleway';
}

header,
main,
footer {
    padding-left: 35px;
    padding-right: 35px;
}

h1,
h2 {
    font-size: x-large;
    font-weight: 600;
}

h3 {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
    min-height: 19px;
}

a:link {
    color: black;
}

.nav {
    display: flex;
    height: 100px;
    justify-content: flex-end;

}

.nav-hebergements,
.nav-activites {
    border-top: 3px white solid;

}

.nav-hebergements>a,
.nav-activites>a {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.nav-hebergements:hover,
.nav-activites:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
    cursor: pointer;

}

a:hover {
    color: #0065FC;
    cursor: pointer;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    padding-top: 2%;
    width: 140px;

}

#logo {
    margin-top: 0%;
    width: 100%;
}

#titre-principal>p {
    margin: 10px 0px 30px 0px;
}

#barre-recherche {
    display: flex;
    width: 30%;
}

#barre-recherche>i {
    padding: 12px 20px;
    background-color: #F2F2F2;
    border: 2px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input[type=search] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    border: 1px #F2F2F2 solid;
    font-weight: bold;
    font-size: 20px;
}

.bouton-recherche {
    height: 50px;
    padding: 10px 15px;
    background: #0065FC;
    border: 1px #0065FC solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #F2F2F2;
    cursor: pointer;
    position: absolute;
    left: 30%;
}

.bouton-recherche>i {
    display: none;
}

#filtres {
    display: flex;
    margin-top: 30px;
    width: max-content;
    align-items: center;

}

#titre-filtres {
    font-size: 1.0em;
}

.icons {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-left: none;
}

.icons>i {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2px;
}

.icons>button {
    width: max-content;
    background-color: white;
    border: none;
    margin-right: 3px;
    font-weight: bold;
}

#icon-info {
    display: flex;
    margin: 30px 0px 30px 0px;
}

#icon-info>i {
    width: 25px;
    height: 25px;
    align-self: center;
    margin: 1px 5px 5px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 26px;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
}

.icons:hover {
    background-color: #DEEBFF;
    cursor: pointer;

}

.icons:hover>button {
    color: #0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
}

.icons:hover>i {
    border: 2px black solid;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hebergements,
.logements,
#populaires,
.populaires>a {
    border-radius: 20px;
}

#hebergements-populaires {
    display: flex;
    justify-content: space-between;
}

#hebergements {
    width: 59%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: space-between;
    padding: 20px 25px 20px 25px;
}

#hebergements>h2 {
    width: 100%;
    margin: 10px 0px 20px 0px;
}

.logements {
    width: 30%;
    background-color: white;
    padding: 3px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 8px grey
}
.logements>a {
    position: relative;
    height: 100%;
}
.images-logements {
    display: flex;
    width: 100%;
    height: 130px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-logements {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.body-logements>h3,
.body-logements>p,
.notation-etoile,
#afficher-plus,
.titre-activites {
    margin-left: 10px;
}

.body-logements>h3 {
    margin-top: 10px;
}

.body-logements>p {
    margin-top: 5px;
    font-size: medium;
}

.notation-etoile {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-end;
    color: #0065FC;
    position: absolute;
    bottom: 10px;

}

#hebergements>p {
    width: 90%;
}

p>span {
    margin-top: 8px;
    font-weight: bold;
}

#populaires {
    width: 30%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 20px 25px 20px 25px;
    justify-content: space-between;
}

.populaires-titre {
    display: flex;
    justify-content: space-between;
}

.populaires-titre>h2 {
    margin: 10px 0px 10px 0px;
}

#etoile-populaires {
    display: flex;
    align-items: center;
    margin-right: 15px;
}


.populaires>a {
    width: 97%;
    height: 140px;
    box-shadow: 2px 5px 8px grey;
    display: flex;
    background-color: white;
    padding: 5px;
}


.texte-populaires {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.texte-populaires>h3 {
    display: inline;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 2px;
}

.texte-populaires>p {
    flex: 1;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: medium;
}

.notation-etoile-populaires {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #0065FC;

}

.photos-populaires {
    width: 35%;
    height: 100%;
}

.images-populaires {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;

}

#activites>h2 {
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.titre-activites {
    display: flex;
    height: 60px;
    align-items: center;

}

#cartes-activites {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

}

.photos-activites-s,
.photos-activites-m,
.photos-activites-l,
.photos-activites {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.photos-activites-s {
    height: 120px;
    overflow: hidden;
}

.photos-activites-m {
    height: 180px;
    overflow: hidden;
}

.photos-activites-l {
    height: 240px;
    overflow: hidden;
}

.photos-activites {
    height: 455px;
    overflow: hidden;
}

.images-activites {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carte-activites-xl,
.carte-activites-s,
.carte-activites-m,
.carte-activites-l {
    display: flex;
    flex-direction: column;
    width: 24%;
    background-color: white;
    margin: 15px 0px 15px 0px;
    border-radius: 20px;
    box-shadow: 2px 5px 8px grey
}

.carte-activites-s,
.carte-activites-m,
.carte-activites-l {
    width: 100%;
}

.bloc-activite {
    display: flex;
    flex-direction: column;
    width: 24%;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 20px;
}

.elements-footer {
    width: 33%;
    margin-top: 2%;
}
.elements-footer>h3 {
    margin-bottom: 10px;
}
.elements-footer>ul {
    padding: 0px;

}

li {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}